<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Demo">
	<listeners>
		<listener class-name="testNg.ReportList" />
		
	</listeners>
	 
	<test thread-count="5" name="Learning TestNG" parallel="false">

		<classes>
			<class name="testNg.TC001" />
			<class name="testNg.TC002" />
			<class name="testNg.TestclassSample" />
			<class name="loactors.ByID"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
